#my-name {
    font-size: 72px;
    color: #fdd439;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: -40px;
}

#About p {
    color: #ccc;
    font-size: 36px;
}

#title {
    float: right;
    width: auto;
    margin-top: -60px;
    margin-right: 60px;
}

#skills {
    height: 267px;
    /* background: yellow; */
}

#skills i {
    font-size: 36px;
    color: #ccc;
}

#profile-image {
    height: 300px;
    background: green;
}