#my-name {
    font-size: 72px;
    color: #fdd439;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: -70px;
    text-align: center;
}

#About {
    height: 100vh;
    background: #2c2c2c;
}

#About p {
    color: #ccc;
    font-size: 36px;
}

#images img {
    width: 100%;
    aspect-ratio: 1.5 / 1;
}

#title {
    text-align: right;
    width: auto;
    margin-top: -90px;
}

#profile-image {
    height: 300px;
}

#heading .row {
    margin-left: 0;
}

/* Tablets */
@media screen and (max-width: 768px) {
    #my-name {
        font-size: 36px;
        margin-top: -70px;
    }
    
    #About p {
        font-size: 18px;
        margin-top: 40px;
        margin-left: 15px;
   }

    p#title {
        margin-top: -90px;
    }
}