#my-name {
    font-size: 72px;
    color: #fdd439;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: -40px;
}

#About p {
    color: #ccc;
    font-size: 36px;
}

#title {
    float: right;
    width: auto;
    margin-top: -60px;
    margin-right: 60px;
}

#skills {
    height: 267px;
}

#skills i {
    font-size: 36px;
    color: #ccc;
}

#profile-image {
    height: 300px;
    background: green;
}

/* Tablets */
@media screen and (max-width: 768px) {
    #heading {
        background: blue;
        text-align: center;
    }
    #my-name {
        font-size: 36px;
        margin-top: -20px;
    }
    
    #About p {
        font-size: 18px;
        margin-top: 40px;
        margin-left: -200px;
   }

    p#title {
        margin-top: -30px;
        margin-right: 125px;
    }

    #heading {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #heading {
        background: red;
    }

    p#title {
        margin-right: 0px;
    }
}