.contact-form {
    position: relative;
    display: flex;
    padding: 20px;
    top: 0;
    margin: 115px auto;
}

input, textarea {
    background: #414141;
    color: #ccc;
}

input::placeholder, textarea::placeholder {color: #ccc;}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 20px;
    border: none;
    resize: vertical;
}

textarea {min-height: 150px;}

input[type=text]:focus, input[type=email]:focus, textarea:focus {outline: 2px solid #fdd439;}

input[type=submit] {
    border: none;
    float: right;
    padding: 8px 16px;
    width: 200px;
    border: 2px solid #fdd439;
    background: transparent;
    color: #fdd439;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
}

input[type=submit]:hover {
    cursor: pointer;
    background: #fdd439;
    color: #333;
}

input[type=submit]:focus {
    outline: none;
    background: #fdd439;
    color: #333;
}