.navbar {
    position: fixed;
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    width: 7%;
    height: 105vh;
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    border-color: transparent;
    background: #fdd439;
}

.hamburger {display: none;}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #ccc;
}

@media screen and (max-width: 768px) {
    .navbar {display: none;}

    .nav-wrapper {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-wrapper.active {left: 0;}

    .nav-link {margin: 2.5rem 0;}

    .hamburger {
        display: block;
        position: fixed;
        z-index: 1;
        padding: 15px;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(1) {opacity: 0;}

    .hamburger.active .bar:nth-child(2) {transform: translateY(8px) rotate(45deg);}

    .hamburger.active .bar:nth-child(3) {transform: translateY(-8px) rotate(-45px);}

    .overlay a {font-size: 36px;}
}

.nav-container {
    display: block;
    height: 105vh;
    max-width: 90px;
}

.nav-wrapper{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    background: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
}

nav a {
    position: relative;
    text-decoration: none;
    vertical-align: top;
    text-align: left;
    color: #333;
}

nav a.nav-link:hover::before {transform: scaleX(1);}

nav a.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 5px);
    height: 1px;
    bottom: 0;
    left: 0;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link {
    position: relative;
    -webkit-box-align: center;
    transform: rotate(-90deg);
    text-transform: uppercase;
}

.nav-link.mobile {
    display: block;
    margin: 0;
    padding: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-around;
    align-self: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    font-size: 18px;
    font-weight: 300;
}

.social-icons {
    position: relative;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
}

.social-icons i {
    position: relative;
    padding: 8px;
    font-size: 36px;
}

/* NAV OVERLAY */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content a:hover {text-decoration: underline;}

.overlay a:nth-child(1):hover {color: #999;}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #ccc;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fdd439;
    display: block;
    transition: 0.3s;
    font-weight: 300;
    text-transform: uppercase;
}