.skill-row {
    width: 100%;
    margin: 0;
}

.skill-card {
    height: 200px;
}

.skill-card-inner {
    background: #414141;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skill {
    font-size: 72px;
    color: #fdd439;
}