.skill-row {
    width: 100%;
    margin: 0;
}

.skill-card-inner {
    background: #414141;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skill-header {
    position: relative;
    width: 100%;
    height: auto;
}

.skill-label {
    position: relative;
    float: left;
    color: #ccc;
    font-size: 36px;
    margin: 0;
    height: 100%;
    line-height: 100%;
    text-align: center;
}

.skill {
    position: relative;
    float: right;
    font-size: 72px;
    color: #fdd439;
}

.skill-description p {
    color: #ccc;
}